.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  display: block;
  margin: 0 auto;
}
h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

form {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  border: 1px solid #0a0a0a;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}